body {

    background: rgb(101,23,88);
    background: linear-gradient(90deg, rgba(101,23,88,1) 0%, rgba(49,21,98,1) 35%, rgba(27,24,52,1) 100%);
    margin: 45px;
}



h1 {
    color:deeppink;
    
}

h2 {
    
    color: aliceblue;
}

p {
    color:aliceblue

}

a {
    background-color: deeppink;
    padding: 15px;
    color:aliceblue;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;

}

.title {
font-family: sans-serif;
}

.technology {
font-family: sans-serif;
}

.paragraph {
font-family: sans-serif;

}


